// colors

$Purple-500: hsl(256, 67%, 59%);
$Purple-100: hsl(254, 88%, 90%);
$Yellow-100: hsl(31, 66%, 93%);
$Yellow-500: hsl(39, 100%, 71%);
$White:hsl(0, 0%, 100%);
$Black:hsl(0, 0%, 7%);
$body-color: #F5F5F5;

// font size for paragraph

$Font-size-para: 18px;

// font family
$font-family: "DM Sans", sans-serif;